@model Collection
<script src="~/Content/editormd/lib/marked.min.js"></script>
<script src="~/Content/editormd/lib/marked.min.js"></script>
<script src="~/Content/editormd/lib/prettify.min.js"></script>
<script src="~/Content/editormd/lib/raphael.min.js"></script>
<script src="~/Content/editormd/lib/underscore.min.js"></script>
<script src="~/Content/editormd/lib/sequence-diagram.min.js"></script>
<script src="~/Content/editormd/lib/flowchart.min.js"></script>
<script src="~/Content/editormd/lib/jquery.flowchart.min.js"></script>
@using (Html.BeginForm())
{
    <div class="SingleBox" style="border:none">
        <div class="panel panel-primary">
            <div class="panel-heading">文集详细</div>
            <div class="panel-body">
                <label>名称</label>
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                <input class="form-control" type="text" name="Title" value="@Model.Title" />
                <br />
                <label>标签</label>
                @Html.ValidationMessageFor(model => model.CustomTagList, "", new { @class = "text-danger" })
                <input class="form-control" type="text" name="CustomTagList" value="@Model.CustomTagList" />
                <br />
                <label>简介</label>
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                <input class="form-control" type="text" name="Description" value="@Model.Description" />
                <br />
                <div class="checkbox">
                    <label>
                        @if (Model.IsSerie)
                        {
                            <input type="checkbox" name="IsSerie" checked />
                        }
                        else
                        {
                            <input type="checkbox" name="IsSerie" />
                        }
                        系列文章
                    </label>
                </div>
                @if (string.IsNullOrEmpty(Request.QueryString["CollectionId"]))
                {
                    <input type="submit" class="btn btn-primary " value="新建" />
                }
                else
                {
                    <input type="submit" class="btn btn-primary " value="保存" />
                }
            </div>
        </div>
        <!--下列文字必须靠左！！-->
        <div id="test-editormd" style="margin:0">
            <textarea style="display:none;">
#文章和文集
每篇文章必须属于某个文集。新用户在投稿之前，必须建立一个新的文集。
如果该文集里面所有文章可以构成一个系列教程，请在新建文集的时候勾选上 “系列教程”
所有的“系列教程”会出现在网站首页的“系列教程”标签中。
            </textarea>
        </div>
    </div>
}
<script>
    $(function () {
        var testEditor = editormd.markdownToHTML("test-editormd",
        {
            htmlDecode: "style,script,iframe",  // you can filter tags decode
            emoji: true,
            taskList: true,
            tex: true,  // 默认不解析
            flowChart: true,  // 默认不解析
            sequenceDiagram: true,  // 默认不解析
        });
    });
</script>