@model ArticleBody
@{
    string QRCodeUrl = "http://codesnippet.info/Article/Index?ArticleId=" + Model.ArticleInfo.Sn;
}
<div class="SingleBox" style="margin-bottom:0;">
    <hr />
    <div style="height:96px;background-color:white;padding:10px">
        <img src="/FileSystem/QRCode?url=@QRCodeUrl" style="float:right;" width="96" height="96" />
        <p style="margin:5px 0 0 0">
            <span class="glyphicon glyphicon-book" aria-hidden="true" /><span>&nbsp;阅读(@Model.ReadCnt)&nbsp;</span>
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"/><span>&nbsp;评论(@Model.CommentCnt) &nbsp;</span>
            <span class="glyphicon glyphicon-user" aria-hidden="true"/><span>&nbsp;评论人数(@Model.CommentAccountCnt) &nbsp;</span>
            <span class="glyphicon glyphicon-heart" aria-hidden="true"/><span>&nbsp;收藏(@Model.StockCnt)&nbsp;</span>
        </p>
        <br />
        <h6 style="display:inline">
            <b>该文章属于：</b><a href="/Article/CollectionList?CollectionId=@Model.ArticleInfo.CollectionID">@Model.CollectionTitle</a>
        </h6>
        <div>
            @if (Model.PreviousArticleInCollection != null)
            {
                <a href="/Article/Index?ArticleId=@Model.PreviousArticleInCollection.Sn">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"/><span> @Model.PreviousArticleInCollection.Title</span>
                </a>
            }
            <br />
            @if (Model.NextArticleInCollection != null)
            {
                <a href="/Article/Index?ArticleId=@Model.NextArticleInCollection.Sn">
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"/><span> @Model.NextArticleInCollection.Title</span>
                </a>
            }
        </div>
    </div>
</div>