@model ArticleBody

<div class="SingleBox" style="background-color:white;padding:10px;margin:0;">
    <div class="row">
        <div class="col-md-6">
            <img src="@Model.AuthorInfo.Avatar_url" style="float:left" class="AvatarImage" />
            <h5 style="padding:0 0 0 70px">
                <a href="/Author/Index?AccountId=@Model.AuthorInfo.Sn">@Model.AuthorInfo.NickName</a>
                @if (Model.AuthorInfo.Privilege != UserType.Normal)
                {
                    <label class="Privilege">
                        @switch (Model.AuthorInfo.Privilege)
                        {
                            case UserType.Author:
                                @:特约作者
                                break;
                            case UserType.Editor:
                                @:编辑
                                break;
                            case UserType.Admin:
                                @:管理员
                                break;
                            default:
                                break;
                        }
                    </label>
                }
            </h5>
            <h6 style="padding:0 0 0 70px;">
                关注&nbsp;(@Model.FocusCnt) &nbsp;&nbsp; 粉丝&nbsp;(@Model.FollowCnt)&nbsp;&nbsp; 收藏&nbsp;(@Model.AuthorStockCnt)
            </h6>
        </div>
    </div>
</div>
