@model ArticleBody
@{
    var TopicButton = false;
    var IsPutToTopic = false;
    if (Model.ArticleInfo.IsTopicable)
    {
        //可以被专题收录
        if (Session[ConstHelper.Session_USERID] != null)
        {
            var userTopic = Topic.GetTopicByAccountId(Session[ConstHelper.Session_USERID].ToString());
            if (userTopic != null)
            {
                var topicId = userTopic.Sn;
                if (!TopicArticle.IsExist(topicId, Model.ArticleInfo.Sn))
                {
                    TopicButton = true;
                }
                else
                {
                    IsPutToTopic = true;
                }
            }
        }
    }
}
<div class="SingleBox" style="background-color:white;padding:10px;margin:0;">
    <div class="btn-group" role="group" aria-label="..." style="margin-right:5px;">
        @if (Session[ConstHelper.Session_USERID] != null)
        {
            <a href="/FileSystem/PDF?ArticleId=@Model.ArticleInfo.Sn" class="btn btn-success">
                <span class="glyphicon glyphicon-download" aria-hidden="true"/><span>&nbsp;下载PDF文章</span>
            </a>
            <a href="/Article/SimplePdf?ArticleId=@Model.ArticleInfo.Sn" class="btn btn-success">
                <span class="glyphicon glyphicon-print" aria-hidden="true"/><span>&nbsp;简洁打印版本</span>
            </a>
            if (TopicButton)
            {
                <button class="btn btn-success" style="width:150px;" onclick="Topic('@Model.ArticleInfo.Sn')">
                    <span class="glyphicon glyphicon-book" aria-hidden="true" id="btnTopic"/><span>&nbsp;收录到我的专题</span>
                </button>
            }
            else
            {
                if (IsPutToTopic)
                {
                    <button class="btn btn-success" style="width:150px;">
                        <span class="glyphicon glyphicon-book" aria-hidden="true" id="btnTopic"/><span>&nbsp;已收录</span>
                    </button>
                }
            }
            if (Model.AuthorInfo.Sn != Session[ConstHelper.Session_USERID].ToString())
            {
                if (Focus.IsFocused(Session[ConstHelper.Session_USERID].ToString(), Model.AuthorInfo.Sn))
                {
                    <button class="btn btn-success" style="width:150px">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"/><span>&nbsp;已关注</span>
                    </button>
                }
                else
                {
                    <button class="btn btn-success" style="width:150px" onclick="FocusUser('@Model.AuthorInfo.Sn')">
                        <span class="glyphicon glyphicon-star" aria-hidden="true" id="btnFocus_@Model.AuthorInfo.Sn"/><span>&nbsp;关注作者</span>
                    </button>
                }
                if (Stock.IsStocked(Session[ConstHelper.Session_USERID].ToString(), Model.ArticleInfo.Sn))
                {
                    <button class="btn btn-danger" style="width:150px">
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"/><span>&nbsp;已收藏</span>
                    </button>
                }
                else
                {
                    <button class="btn btn-danger" style="width:150px" onclick="Stock('@Model.ArticleInfo.Sn')">
                        <span class="glyphicon glyphicon-heart" aria-hidden="true" id="btnStock"/><span>&nbsp; 收藏文章</span>
                    </button>
                }
            }
        }
        else
        {
            string authUrl = "https://github.com/login/oauth/authorize?client_id=" + GithubAccount.ClientID;
            <a class="btn btn-sm btn-default" href="@authUrl">
                @Html.DisplayForModel("GithubSVG")&nbsp;使用GitHub登录&nbsp;
            </a>
        }
    </div>
</div>