@model IEnumerable<SiteMessage>
@using InfraStructure.Utility
@{
    Pages pages = ViewBag.Pages;
}

<div class="SingleBox" style="border:none;width:1200px">
    @Html.DisplayFor(t => t, "AuthorNavi", null)
    @MvcHtmlString.Create(HtmlUiHelper.GetPageNavi(pages, pageno => Html.ActionLink((pageno).ToString(), "SiteMessageList", new { PageNo = (pageno) }).ToString()))
    <table class="table table-striped">
        <tr>
            <th>
                发送者
            </th>
            <th>
                内容
            </th>
            <th>
                发送时间
            </th>
            <th width="300px">
                操作
            </th>
        </tr>
        @foreach (var item in Model)
            {
                var u = UserInfo.GetUserInfoBySn(item.SenderID);
            <tr>
                <td>
                    <a href="/Author/Index?AccountId=@item.SenderID">@u.NickName</a>
                </td>
                <td>
                    @MvcHtmlString.Create(item.Content)
                </td>
                <td>
                    @item.CreateDateTime
                </td>
                <td>
                    @if (!item.IsHandle)
                    {
                        switch (item.MsgType)
                        {
                            case SiteMessage.YesNoType:
                                <a class="btn btn-success" href="@item.AcceptURL&MessageId=@item.Sn">
                                    <span class="glyphicon glyphicon-folder-open">&nbsp;同意</span>
                                </a>
                                <a class="btn btn-danger" href="@item.RefuseURL&MessageId=@item.Sn">
                                    <span class="glyphicon glyphicon-folder-open">&nbsp;拒绝</span>
                                </a>
                                break;
                            case SiteMessage.NotifyType:
                                <button class="btn btn-primary" id="btnMsg_@item.Sn" onclick="ReadMessage('@item.Sn')">
                                    <span class="glyphicon glyphicon-folder-open">&nbsp;标记为已读</span>
                                </button>
                                break;
                        }
                    }
                    else
                    {
                        @item.HandleResult
                    }
                </td>
            </tr>
        }
    </table>
    @MvcHtmlString.Create(HtmlUiHelper.GetPageNavi(pages, pageno => Html.ActionLink((pageno).ToString(), "SiteMessageList", new { PageNo = (pageno) }).ToString()))


</div>
